body{
    background-color: #DDDBDB;
}
.nav{
    background-color: hsl(48, 100%, 98%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav h1{
    margin: auto;
    width: 200px;
    padding-top: 10px;
}
.nav h1 img{
    width: 100%;    
    vertical-align: top;
}
.hb{
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: relative;
    border-radius: 30%;
}
.hb span{
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #013F1D;
    left: 0;
    right: 0;
    margin: auto;
}
.hb span:first-child{
    top: 11px;
}
.hb span:nth-child(2){
    top: 0;
    bottom: 0;
}
.hb span:last-child{
    bottom: 11px;
}
#menu-switch{
    position: fixed;
    z-index: -20;
    top: 0;
}
#menu-switch:checked ~ .nav .hb span:first-child{
    top: 19px;
    transform: rotate(45deg);
    transition: top .8s,transform .3s .3s;
} 
#menu-switch:checked ~ .nav .hb span:nth-child(2){
    display: none;
}
#menu-switch:checked ~ .nav .hb span:last-child{
    bottom: 19px;
    transform: rotate(135deg);
    transition: bottom .8s,transform .3s .3s;
}
.nav-bar{
    position: absolute;
    background-color: rgb(247, 202, 113);
    top: 100%;
    left: -100%;
    width: 100%;
}
#menu-switch:checked ~ .nav .nav-bar{
    left: 0;
    transition: left .5s;
}
.nav-bar a{
    display: block;
    padding: 10px;
    color: #013F1D;
    text-decoration: none;
    text-align: center;
}
#text{
    border: 1px soild#ccc;
    color: #013F1D;
    padding: 5px;
    position: absolute;
    display: none;
    background-color: antiquewhite;
}
.forum h2{
    margin: 30px 0;
    font-size: 25px;
    color: #24B9F9;
}
.forum .pic img{
    width: 40px;
    height:40px;
    border-radius: 50%;
} 
.forum .bigcard{
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 50% 20% / 10% 40%;;
}
.bigcard .name{
    color:#A17C6B;
}
.bigcard .question{
    color: #4A7C59;
}
.bigcard .question p{
    width:100px;
}
.bigcard .Ans{
    display: flex;
    align-items: center;
    width: 150px;
    color: #539987;
}
.forum .card{
    display: flex;
    align-items: center;
}
.forum .card .user{
    text-align: center;
    margin: 5%;
}
.Item-group{
    color: #135470;
}
.message h3{
    text-align: center;
    font-size: 25px;
    margin: 5%;
    color: #24B9F9;
}
.message .Item-group{
    margin: 20px;
}
.user-message-board{
    position: relative;
    overflow: auto;
    height: 30em;
}
.user-message-board .Card{
    background-color: #539987;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    cursor:  pointer;
}
.user-message-board .Card:hover{
    background-color: #4A7C59;
}
.user-message-board .card-title{
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-size: 14px;
}
.user-message-board .card-title .icon{
    margin: 0 10px;
}
.user-message-board .card-title .title span{
    color: aqua;
}
.user-message-board .User
,.user-message-board .store{
    padding: 5px 10px;
    color:greenyellow;
}
.user-message-board .card-footer{
    display: flex;
    padding-top: 5%;
    font-size: 14px;
}
.user-message-board .Times-watched{
    display: flex;
}
.user-message-board .Times-watched .minute{
    margin: 0 10px;
}
.massage-board{
    text-align: center;
}
.massage-board .pic img{
    width: 100%;
}
.footer .fa-facebook-square{
    padding-left: 20px;
    padding-right: 5px;
    font-size: 30px;
    color: #000;
}
.footer .fa-facebook-square:hover{
    color: blue;
}
.footer .community .fa-instagram{
    font-size: 30px;
    color: #000;
}
.footer .community .fa-instagram:hover{
    background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
    -webkit-background-clip: text;
    color: transparent;
}
.footer .txt{
    margin: 0 20px;
    color: #8F8686;
    line-height: 1.5;
    font-size: 12px;
    width: 90%;
}
.footer .txt .P{
    color: #c0bcbc;
}
@media screen and (min-width:768px){
    .footer .txt{
        width: 30%;
    }
}
@media screen and (min-width:1200px){
    .hb{
        display: none;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        left: 0;
        background-color: transparent;
        transition: none;
    }
    .bigcard .question{
        font-size: 18px;
    }
    .bigcard .Ans{
        font-size: 17px;
    }
    .Card .title{
        font-size:17px;
    }
}