body{
    background-color: #DDDBDB;
}
.nav{
    background-color: #FFFDF5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
}
.nav .logo img{
    width: 200px;
    padding: 15px 30px ;
}
.nav .nav-bar {
    display: flex;
    align-items: center;
}
.nav .nav-bar a{
    text-decoration: none;
    color:#013F1D;
    margin: 15px;
}
.nav .Logo{
    display: none;
    z-index: -1000;
}
.nav .member{
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.container{
    width: 1200px;

}
.forum{
    position: relative;
}
.forum h2{
    padding-top: 30px;
    padding-left: 70px; 
    font-size: 30px;
    color: #94928d;
}
.item-group{
    display: flex;
}
.item-group .Card{
    width: 254px;
    margin: 70px;
    border: 3px solid #fdb837;
    border-radius: 10%;
    padding-top: 30px;
}
.item-group .user{
    display: flex;
    align-items: center;
}
.item-group .pic img{
    border-radius: 80%;
    width: 50px;
    height: 50px;
}
.item-group .name{
    font-size: 15px;
    padding-left: 15px;
}
.item-group .Ans{
    margin: 70px;
}
.message{
    background-size: cover;
    width: 100%;
    min-height: 700px;
    position: absolute;
}
.message h3{
    text-align: center;
    font-size: 25px;
}
.message .Item-group{
    margin: 20px;
}
.user-message-board{
    overflow: auto;
    height: 30em;
}
.user-message-board .Card{
    background-color: #539987;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor:  pointer;
}
.user-message-board .Card:hover{
    background-color: #4A7C59;
}
.user-message-board .card-title{
    display: flex;
    padding-top: 10px;
    align-items: center;
}
.user-message-board .card-title .icon{
    margin: 0 10px;
}
.user-message-board .card-title .title span{
    color: aqua;
}
.user-message-board .User
,.user-message-board .store{
    padding: 5px 10px;
}
.user-message-board .card-footer{
    display: flex;
    align-items: center;
}
.user-message-board .Times-watched{
    display: flex;
}
.user-message-board .Times-watched .minute{
    margin: 0 10px;
}
.message .ask{
    position: relative;
    top: 100px;
    left: 200px;
    width: 250px;
    padding: 80px;
    background-color: #ccc;
}
.message .btn-3{
    font-size: 15px;
    border-radius: 15%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.473);
}
.message .btn-3:hover{
    box-shadow: inset 3px rgba(0, 0, 0, 0.473);
}
.community .fa-facebook-square{
    width: 50px;
    height: 50px;
    position: relative;
    top: 500px;
    left: 200px;
    font-size: 60px;
}
.community .fa-instagram{
    width: 50px;
    height: 50px;
    position: relative;
    top: 500px;
    left: 200px;
    font-size: 60px;
    margin: 50px;
}
.footer .txt{
    top: 480px;
    left: 200px;
    position: relative;
    color: #aaa;
    width: 500px;
    line-height: 1.5;
}
