body{
    background-color: #DDDBDB;
}
.nav{
    background-color: #FFFDF5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
}
.nav .logo img{
    width: 200px;
    padding: 15px 30px ;
}
.nav .nav-bar {
    display: flex;
    align-items: center;
}
.nav .nav-bar a{
    text-decoration: none;
    color:#013F1D;
    margin: 15px;
}
.nav .Logo{
    display: none;
    z-index: -1000;
}
.nav .member{
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.container{
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.knowledge h2{
    font-size: 30px;
    color: #94928d;
    margin: 50px 0;
}
.knowledge .item{
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}
.knowledge .item:nth-child(odd){
    flex-direction: row-reverse;
}
.knowledge .item:nth-child(even) .pic,
.knowledge .item:nth-child(odd) .txt{
    position: relative;
    top: -20px;
}
.knowledge .pic img{
    width: 400px;
    vertical-align: top;
    border-radius: 10%;
}
.knowledge .txt{
    width: 450px;
}
.knowledge .txt .title{
    margin: 10px 0;
    color: #AB7D7D;
    font-size: 25px;
}
.knowledge .txt p{
    line-height: 1.7;
    color: #94928d;
    font-size: 20px;
}
.footer .container{
    display: flex;
}
.footer .community{
    margin: 20px;
}
.footer .community i{
    font-size: 60px;
    padding: 10px;
}
.footer .txt{
    color: #aaa;
    width: 500px;
    line-height: 1.5;
    margin: 20px;
}